@{
    ViewBag.Title = "GioHangEmpty";
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
}
<style>
    #divNavigation {
        display: none;
    }
</style>

<center style="padding-left:293px">
    <div class="container" style="padding-top:50px; padding-bottom:100px">
        <div class="xkMOGx">Your shopping cart is empty </div>
            <img class="_1y4Fn4" src="../Images/gioHang.png"/>
            <div>
                <button class="btnMuaNgay">
                    <a href="/SanPham/TatCaSanPham"><span class="rCJzoB">BUY NOW</span></a>
                </button>
            </div>
                
    </div>
</center>