@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_LayoutPageHome2.cshtml";
}
<style>
    #divNavigation {
        display: none;
    }
</style>

<center>
    <div style="width:1100px">
        <h2 class="text-center mt-4">Your order is being sent, Thank you for your purchase ♥</h2>
    </div>
</center>

